body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(to right, #0F2027, #203A43, #2C5364);
}

header {
    color: white;
}

#info-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: solid 3px antiquewhite;
    border-radius: 5px;
    box-shadow: -5px 5px 5px #5B5A5A;
    
}

#info-card p {
    margin: 5px 10px;
    font-size: 20px;
}

#assignment {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h2 {
    color: white;
}

#assignment-table {
    border-collapse:collapse;
    box-shadow: -5px 5px 5px #5B5A5A;
}

#table-header {
    font-size: 20px;
    min-height: 5vh;
    height: 5vh;
    color: white;
    background-color: #2B2A2A;
}

th {
    text-align: start;
}

.topic-col-head {
    min-height: 5vh !important;
    height: 5vh !important;
    display: table-cell !important;
    vertical-align: center !important;
}

.sn-col {
    min-width: 5vw;
    padding-left: 5px;
}

.title-col {
    min-width: 20vw;
}

.code-col {
    min-width: 15vw;
}

.demo-col {
    min-width: 15vw;
}

.topic-col {
    min-width: 15vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.topic-col span {
    margin-left: 5px;
}

.topic-col img {
    height: 32px;
    width: 32px;
}

.odd-row {
    font-size: 16px;
    min-height: 4vh;
    background-color: #E8E8E8;
}

.even-row {
    font-size: 16px;
    min-height: 4vh;
    background-color: #D2D2D2;
}

.odd-row:hover{
    background-color: #EAF2EA;
}

.even-row:hover {
    background-color: #EAF2EA;
}